<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Canales</title>
</head>
<body>

<div class="container" style="margin-top: 50px; text-align: center;">

   
    <h4>Crear un canal</h4>

    <form id="form-canal" name="form-canal" action="/guardarCanales" method="POST" style="margin-top: 40px;">

        <div>
            <label class="col-md-2">Nombre</label>
            <input name="nombre" id="nombre"class="col-md-10" placeholder="Digite un nombre para el canal" style="width: 300px;">
        </div>

        <div>
            <label class="col-md-2">Tipo Canal</label>
            <select name="tipo" id="tipo"class="col-md-10"style="width: 300px;">
                <option>Seleccione una opción...</option>
                <option>SMS</option>
                <option>Email</option>
                <option>WhatsApp</option>
                <option>Llamada</option>
            </select>
        </div>

        <div>
            <label class="col-md-2" >Tipo Destinatario</label>
            <select name="tipo_destinatario" id="tipo_destinatario"class="col-md-10"style="width: 300px;">
                <option>Seleccione una opción...</option>
                <option>Simple</option>
                <option>Grupal</option>
            </select>
        </div>

        <div>
            <label class="col-md-2">Fecha</label>
            <input name="fecha" id="fecha"class="col-md-10" type="date" style="max-width: 300px;">
        </div>

        <div style="text-align: center;">
            <button type="submit" id="submitCanal" class="btn btn-success" style="margin-top: 15px;">
                Terminado
            </button>
        </div>

    </form>

</div>

<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</body>
</html>